<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.projrentalprac.user.UserMapper">
    <insert id="insUser" useGeneratedKeys="true"  keyProperty="iuser">
        INSERT INTO t_user
        SET iaddr = #{iaddr}
        , rest_addr = #{restAddr}
        , uid = #{uid}
        , upw = #{upw}
        , nick = #{nick}
        <if test=" pic != null and pic != '' ">
            , stored_pic = #{pic}
            , request_pic = #{pic}
        </if>
        , phone = #{phone}
        , email = #{email}
        , y = #{y}
        , x = #{x}
    </insert>

    <select id="selUser">
        SELECT iuser, iauth, upw
        FROM t_user
        WHERE uid = #{uid}
    </select>

    <select id="findUid">
        SELECT uid
        FROM t_user
        WHERE phone = #{phone}
    </select>

    <select id="findUidCheck">
        SELECT COUNT(uid) FROM t_user WHERE phone = #{phone}
    </select>

    <select id="selUserInfoCheck">
        SELECT rest_addr AS restAddr, nick, stored_pic AS pic
        , phone, email, raiting, y, x
        FROM t_user
        WHERE iuser = #{iuser}
    </select>

    <update id="findUpw">
        UPDATE t_user
        SET upw = #{newUpw}
        WHERE uid = #{uid}
        and phone = #{phone}
    </update>

    <update id="updInfo">
        UPDATE t_user
        <set>
        <if test=" nick != null and nick != '' ">
            nick = #{nick},
        </if>
        <if test=" pic != null and pic != '' ">
            request_pic = #{pic},
            stored_pic = #{pic},
        </if>
        <if test=" upw != null and upw != '' ">
            upw = #{upw},
        </if>
        <if test=" phone != null and phone != '' ">
            phone = #{phone},
        </if>
        <if test=" restAddr != null and restAddr != '' ">
            rest_addr = #{restAddr},
        </if>
        <if test=" email != null and email != '' ">
            email = #{email}
        </if>
        </set>
        WHERE iuser = #{iuser}
    </update>

    <select id="selDelTarget">
        SELECT P.iproduct, PP.ipayment
        FROM t_user U
        LEFT JOIN t_product P ON P.istatus IN (-1, -2)
        JOIN t_product_payment PP ON P.iproduct = PP.iproduct
        JOIN t_payment PA ON PP.ipayment = PA.ipayment AND PA.istatus IN (1, -1, -2, -3)
        WHERE U.iuser = #{iuser};
    </select>

    <delete id="delUser">
        DELETE FROM t_user
        WHERE iuser = #{iuser}
    </delete>

    <delete id="delPics">
        DELETE FROM t_pics
        WHERE iproduct IN (
            SELECT iproduct
            FROM t_product
            WHERE iuser = #{iuser}
        )
    </delete>

    <delete id = "delProdPaymt">
        DELETE FROM t_product_payment
        WHERE iproduct IN (
            SELECT iproduct
            FROM t_product
            WHERE iuser = #{iuser}
        )
    </delete>
    
    <delete id="delProduct">
        DELETE FROM t_product
        WHERE iuser = #{iuser} and istatus IN(-1, -2)
    </delete>
    
    <update id="updPayment">
        UPDATE t_payment
        SET ibuyer = 6
        WHERE ibuyer = #{iuser} and istatus IN (1, -1, -2, -3)
    </update>


</mapper>